* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling */
  background-color: #ffb703;
}
header {
  padding: 5px;
  background-color: black;
  color: white;
  width: 100%; /* Cover full width */
  margin: 0;
  text-align: center;
}

header h1 {
  font-size: 70px;
  margin: 0; /* Remove any margin */
}

nav {
  overflow: hidden;
  top: 15vh;
  width: 100%;
  height: 60px;
  margin: 0; /* Remove any margin */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  color: white;
}

li a:hover {
  color: #023047;
}

.logout {
  float: right;
  color: white;
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: black;
  margin-left: 15px;
  padding: 10px;
}

.column-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

@keyframes enlargeImage {
  0% {
    transform: scale(1); /* Initial size */
  }
  100% {
    transform: scale(1.1); /* Final size (10% larger) */
  }
}

.ConnectingPeopleImage {
  /* Set the image height to fill the container height */
  width: 50%; /* Set the image width to fill the container width */
  animation: enlargeImage 2s ease-in-out forwards;
}

/* Add a margin to separate the columns and center align the header text */
.container {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.btn {
  border-radius: 50px;
  color: #ffb703;
  background-color: black;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.btn:hover {
  color: black;
  background-color: white;
}
.home {
  color: black;
}
